---
layout: base.njk
permalink: /illustration/
---
<div class="back-bar">
  <a href="#top" class="back-button">Back</a>
</div>

<div class="masonry">
  {% for piece in illustration %}
    <button class="masonry__item" data-lightbox-index="{{ loop.index0 }}" data-lightbox-group="illustration" aria-label="View {{ piece.title }}">
      <img src="{{ piece.image | url }}" alt="{{ piece.title }}" loading="lazy">
    </button>
  {% endfor %}
</div>

<script type="application/json" class="gallery-data" data-group="illustration">
  {{ illustration | withPrefixedImages | dump | safe }}
</script>
