---
layout: base.njk
permalink: /
---
<section class="homepage-hero">
  {% for img in settings.hero_images %}
    <img class="homepage-hero__slide{% if loop.first %} is-active{% endif %}" src="{{ img | url }}" alt="" data-slide loading="{% if loop.first %}eager{% else %}lazy{% endif %}">
  {% endfor %}
  <div class="homepage-hero__center">
    <span class="homepage-hero__logo"></span>
    <span class="homepage-hero__tag">
      <span class="hero-tag__text">Illustration / Concept / Comic</span>
    </span>
  </div>
</section>