---
layout: base.njk
permalink: /personal-work/
---
<div class="project-grid">
  {% for project in personalWork %}
    <a class="project-card" href="/personal-work/{{ project.slug }}/">
      <img src="{{ project.cover_image }}" alt="{{ project.title }}" loading="lazy">
      <span class="project-card__title">{{ project.title }}</span>
    </a>
  {% endfor %}
</div>
